@import '../../styles/vars';

.container {
  min-width: 280px;
  width: 30%;
  background-color: #f4f5f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.head {
  background-color: $bg-accent;
  color: $text-light;
  text-align: center;
  padding: 10px 0;
  height: 50px;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  min-height: calc(100vh - 175px);
}

.dnd_zone {
  min-height: calc(100vh - 175px);
  background-color: white;
  padding: 10px 0;
}

.dnd_zone_active {
  min-height: calc(100vh - 175px);
  background-color: $bg-hover;
}
