$text-primary: #1d1d1d;
$text-secondary: #a1a1aa;
$text-light:#ffffff;
$error: #940a0a;

$bg: #27272a;
$bg-dark: #202124;
$bg-light: #f8f9ff;
$bg-hover: #e1e1ea;
$bg-secondary: #ffffff;
$bg-accent:#343957;

$border: #414144;
